<%= form_for(@photo) do |f|%>
  <%= f.text_field :image_url %>
  <%= f.text_field :title %>
  <%= f.text_field :username %>
  <%= f.submit %>
  <% end %>

  <ul>
    <% @photos.each do |photo|%>
    <li data-id="<%=photo.id%>"><%= image_tag(photo.image_url) %><span>X</span></li>
    <% end %>
  </ul>
